name: Check Ktlint WorkFlow

on:
  pull_request:
    branches: [ main, dev ]

jobs:
  ktlint:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    
    - name: Install Ktlint
      run: |
        curl -sSLO https://github.com/pinterest/ktlint/releases/download/1.5.0/ktlint
        chmod a+x ktlint
        sudo mv ktlint /usr/local/bin/
    
    - name: Run Ktlint Check
      run: ktlint --reporter=plain --reporter=checkstyle,output=build/ktlint-report.xml
    
    - name: Upload Ktlint Report
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: ktlint-report
        path: build/ktlint-report.xml

